---

version: "3"

services:
  argus:
    image: argus/buster:test
    container_name: argus
    tty: true
    ports:
      - "80:80"
    volumes:
      - /opt/argus/file/argus/config:/var/argus/config
      - /opt/argus/file/argus/users:/var/argus/users
      - /opt/argus/file/argus/stats:/var/argus/stats
      - /opt/argus/file/argus/html:/var/argus/html
      - /opt/argus/file/argus/gcache:/var/argus/gcache
      - /opt/argus/file/argus/gdata:/var/argus/gdata
      - /opt/argus/file/argus/notify:/var/argus/notify
    healthcheck:
      test: [ "CMD-SHELL", "argusctl status" ]
      interval: 10s
      timeout: 30s
      retries: 3
